<header>
    <nav>
        <a href="/">Inventory BJB</a>
        <ul>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/inventory/new">Add Inventory</a></li>
        </ul>
    </nav>
</header>